<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/style/style.css') }}" />
        <title>{% block title %}Meme World{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>
    {% block body %}

<nav class="navbar navbar-default">
               <div class="container-fluid">
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                       <a class="navbar-brand" href="#">Meme world</a>
                   </div>
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav">
                           
                           <li><a href="/">Najnowsze<span class="sr-only"></span></a></li>
                           <li><a href="/topka">Topka<span class="sr-only"></span></a></li>
                           <li><a href="/losuj">Losuj<span class="sr-only"></span></a></li> 
                           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                           <li><a href="/dodaj">Dodaj mema<span class="sr-only"></span></a></li>
                           <li><a href="/profile">Twój profil<span class="sr-only"></span></a></li>
                           {% endif %}
                       </ul>
                       <ul class="nav navbar-nav navbar-right">
                           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                           <li id="zalogowany"
                               {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                           </li>
                           <li>  
                               <a href="{{ path('fos_user_security_logout') }}">
                                   {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                               </a>
                           </li>    
                           {% else %}
                               <li><a href="/login">Zaloguj się</a></li>
                           <li><a href="/register">Zarejestruj się</a></li>                         
                           {% endif %}
                       </ul>
                   </div><!-- /.navbar-collapse -->
               </div><!-- /.container-fluid -->
           </nav>
                       
            {% endblock %}


        {% block javascripts %}{% endblock %}

</body>
</html>
