.navbar-default {
    
    background-color: black; 
    border-color: black;
}

.navbar-default .navbar-nav>li>a{
    
    color: gold;
}

.navbar-default .navbar-brand {
    
    color: gold;
}

.podziekowanie {
    
    color: gold;
}

html body div.content.single div.closeContent form {
    
    color: gold;
}


#like {
    
    color: black;
}

body {
    background-image: url(../images/meme_background.jpg);
    text-align: center;
    color: gold;
}

img {
    max-width: 100%;
}

.content{
    
    width: 700px;
    margin: auto;
    text-align: center;
    background-color: black
       
}

.closeContent {
    
    margin: 120px;
    padding-top: 100px;
  
}

/*.form-horizontal {
    
    text-align: center;
    
}*/

.help-block {
    
    color: white;
}

.control-label {
    
    color: white;
}

#legend {
    
    text-align: center;
    
}

.legenda{
    
    color: white;
}

#logowanie {
    
    color: white;
}

.form-group{
    
    text-align: center;
    color: gold;
    margin: auto;
    width: 40%;
    
}

.odstep{
    
    height: 10px;
    
}


.content.single{
    
    width: 1000px;
}

#like{
    
  margin-bottom: 10px;
  
}

.glyphicon-thumbs-up {
    
    color: gold;
}

.knefel {
    
    color: black;
}

