{% include 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="closeContent">

            {% for mem in memy %}
{#                {{ mem.imageName }}    
                {{ images_dir }}/{{ mem.imageName }}#}
                <p class="odstep"></p>
                <a href="/memy/{{ mem.id }}">
                    <img src="{{ images_dir }}/{{ mem.imageName }}"/>
                </a>
                <p class="odstep"></p>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>{%if  mem.votes != null %}{{ mem.votes }} {%else%} 0{%endif%} 
           
            {% endfor %}

        </div>
    </div>

{% endblock %}
