{% include 'base.html.twig' %}


{% block body %}

    <div class="content">
        <div class="closeContent">

            {#            {{ mem.image_name }}    
                        {{ images_dir }}/{{ mem.image_name }}#}
            <p class="odstep"></p>
            <a href="/memy/{{ mem.id }}">
                <img src="{{ images_dir }}/{{ mem.image_name }}"/>
            </a>
            <p class="odstep"></p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>{%if  mem.votes != null %}{{ mem.votes }} {%else%} 0{%endif%} 
        </div>
    </div>

{% endblock %}
