{% include 'base.html.twig' %}

{% block body %}

    <div class="content single">
        <div class="closeContent">
            {% if voted %}
                <h3 class="podziekowanie"> Dziękujemy za oddanie głosu </h3>
            {% endif %}
            {#            {{ mem.imageName }}    
                        {{ images_dir }}/{{ mem.imageName }}#}
            <p class="odstep"></p>
            <a href="/memy/{{ mem.id }}">
                <img src="{{ images_dir }}/{{ mem.imageName }}"/>
            </a>
            <p class="odstep"></p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <form method="POST">
                    <button name="like" id="like"> Podoba mie sie to! </button>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">{%if  mem.votes != null %}{{ mem.votes }} {%else%} 0{%endif%}</span> 
                </form>
            {% endif %}


        </div>
    </div>

{% endblock %}